aiodns==3.0.0
awscrt==0.13.2
bpython==0.22.1
brotli==1.0.9
cchardet==2.1.7
ConfigParser==5.2.0
cryptography==36.0.1
cx_Oracle==8.3.0
Cython==0.29.27
dl==0.1.0
docutils==0.18.1
epdb==0.15.1
eventlet==0.33.0
greenlet==1.1.2
HTMLParser==0.0.2
idna_ssl==1.1.0
importlib_metadata==4.10.1
inotify==0.2.10
ipdb==0.13.9
ipython==8.0.1
ipywidgets==7.6.5
jnius==1.1.0
keyring==23.5.0
lockfile==0.12.2
lxml==4.7.1
MySQL-python==1.2.5
nacl==0.0.0
numpy==1.22.2
ordereddict==1.1
paramiko==2.9.2
PasteScript==3.2.1
Pillow==9.0.1
protobuf==3.19.4
pylibmc==1.6.1
pymemcache==3.5.0
pyOpenSSL==22.0.0
pytest==7.0.0
python_memcached==1.59
pytz==2021.3
pywatchman==1.4.1
PyYAML==6.0
railroad==0.5.0
rsa==4.8
setproctitle==1.2.2
simplejson==3.17.6
Sphinx==4.4.0
tblib==1.7.0
tokio==0.2.0
toml==0.10.2
tornado==6.1
unicodedata2==14.0.0
uvloop==0.16.0
xmlrpclib==1.0.1
zipp==3.7.0
